.imageWrapper {
  width: $on-desktop;
  position: relative;
  padding-bottom: 10px;
}

.imageWrapper img {
  width:100%; height:100%;
  object-fit: contain;
}

.image-area {
  left: 0; //calc(1*var(--cx) - 1*var(--rad));
  top: 0; //calc(1*var(--cy) - 1*var(--rad));
  width: 100%; //calc(2*var(--rad));

  position: absolute;
  // filter: drop-shadow(0 0 40px cyan);
  // transition: .4s;
  // mix-blend-mode: lighten; /* work the best with the default black fill of svg shapes */
  // cursor: pointer;
  background: rgba(0, 0, 0, 0.0);
  // color: #f1f1f1;
  opacity:1;
}

.shape {
  cursor: pointer;
  mix-blend-mode: color-dodge;
  fill: rgba(50, 50, 50, 1);
  transition: all 0.5s;
}

.path{
  filter: blur(3px);
}

.background{
  transition: all 0.5s;
  mix-blend-mode: color;
  fill:white;
}


.textbox{
  transition: all 0.5s;
  opacity:0;
}

.rect0{
  fill:rgba(200, 200, 200, .8);
  stroke-width:1;
  stroke:black;
}
.text0{
  font-size:4px;
  fill:black;
}

.contour{
	opacity:0;
	fill: rgba(100, 100, 100, 1);
    // stroke:white;
    // stroke-width:50px;
}

.contour:hover {
	opacity:1;
    // filter: drop-shadow(10px 10px 0px black);
    // filter: blur(5px);
	mix-blend-mode: lighten;
    stroke:white;
	fill: rgba(100, 100, 100, 1);
	// fill: rgba(255, 255, 255, 1);
    // stroke-width:10px;
}

.contour:hover ~ .textbox{
  opacity:1;
}

.contour:hover ~ .rect1{
  opacity:0;
  fill:green;
}


.overlay {
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: .5s ease;
  // opacity:0;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
