.imageWrapper {
  width: $on-desktop;
  position: relative;
  padding-bottom: 10px;
}

.imageWrapper img {
  width:100%; height:100%;
  object-fit: contain;
}

.image-area {
  left: 0; //calc(1*var(--cx) - 1*var(--rad));
  top: 0; //calc(1*var(--cy) - 1*var(--rad));
  width: 100%; //calc(2*var(--rad));

  position: absolute;
  background: rgba(0, 0, 0, 0.0);
  opacity:1;
}

.shape {
  cursor: pointer;
  mix-blend-mode: color-dodge;
  fill: rgba(50, 50, 50, 1);
  transition: all 0.5s;
}

.path{
  filter: blur(3px);
}

.background{
  width:100%;
  height:100%;
  transition: all 0.5s;
  mix-blend-mode: color;
  fill:white;
}

.textbox{
  transition: all 0.5s;
  opacity:0;
}

.rect0{
  fill:rgba(200, 200, 200, .8);
  stroke-width:1;
  stroke:black;
}
.text0{
  font-size:4px;
  fill:black;
}

.overlay {
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: .5s ease;
  // opacity:0;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.circle0{
  opacity:0;
  fill: rgba(100, 100, 100, .5);
  stroke:white;
}

.circle0:hover{
  opacity:1;
  mix-blend-mode: lighten;
  filter: drop-shadow(0 0 4px rgba(200, 200, 200, 1.0));
}

.circle0:hover ~ .textbox{
  opacity:1;
}
