<!-- from https://www.digitalocean.com/community/tutorials/css-collapsible -->

<style>
input[type='checkbox'] {
	display: none;
}

.wrap-collabsible {
	margin: 1.2rem 0;
	line-height: 30px;
}
/*
.wrap-collabsible a{
	color:black;
}*/
.lbl-toggle {
	text-align: left;
	color: black;
/* 	background: #0069ff; */
	cursor: pointer;
/* 	border-radius: 7px; */
/* 	transition: all 0.1s ease-out; */
}

.lbl-toggle:hover {
/* 	color: #FFF; */
}

.lbl-toggle::before {
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
}

.toggle:checked+.lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
/* 	transition: max-height .25s ease-in-out; */
}

.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 350px;
}
/*
.toggle:checked+.lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}*/

.collapsible-content .content-inner {
/* 	background: rgba(0, 105, 255, .2); */
/* 	border-bottom: 1px solid rgba(0, 105, 255, .45); */
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
/* 	padding: .5rem 1rem; */
	padding-left: 30px;
}

.collapsible-content p {
	margin-bottom: 0;
}
</style>

<div class="wrap-collabsible">
	<p><b>Table of Content</b></p>

<!--#####################-->
	<input id="check00" class="toggle" type="checkbox">
	<label for="check00" class="lbl-toggle"> Central dogma </label>
	<div class="collapsible-content">
		<div class="content-inner">

			<p> <a href="{{site.baseurl}}/posts/dna_replication">DNA replication</a></p>
			<p> <a href="{{site.baseurl}}/posts/transcription">Transcription</a></p>
			<p> <a href="{{site.baseurl}}/posts/translation">Translation</a></p>
		</div>
	</div>

<!--#####################-->
	<input id="check01" class="toggle" type="checkbox">
	<label for="check01" class="lbl-toggle"> Cytoskeleton </label>
	<div class="collapsible-content">
		<div class="content-inner">

			<p>Microtubule</p>
			<p>Actin</p>
		</div>
	</div>

<!--#####################-->
	<input id="check02" class="toggle" type="checkbox">
	<label for="check02" class="lbl-toggle"> Photosynthesis </label>
	<div class="collapsible-content">
		<div class="content-inner">

			<p>Photosystems</p>
			<p>Carbon fixation</p>
		</div>
	</div>

<!--#####################-->
	<input id="check03" class="toggle" type="checkbox">
	<label for="check03" class="lbl-toggle"> Metabolism </label>
	<div class="collapsible-content">
		<div class="content-inner">

			<p>Electron transport chain</p>
		</div>
	</div>

<!--#####################-->
	<input id="check04" class="toggle" type="checkbox">
	<label for="check04" class="lbl-toggle"> Protein folding </label>
	<div class="collapsible-content">
		<div class="content-inner">

			<p>Secondary structures</p>
			<p>Chaperone</p>
			<p>Proteasome</p>
			<p>Misfolded proteins</p>
		</div>
	</div>

<!--#####################-->
	<input id="check05" class="toggle" type="checkbox">
	<label for="check05" class="lbl-toggle"> Membrane proteins </label>
	<div class="collapsible-content">
		<div class="content-inner">

			<p>Ion channels</p>
			<p>GPCR</p>
		</div>
	</div>

<!--#####################-->
	<input id="check06" class="toggle" type="checkbox">
	<label for="check06" class="lbl-toggle"> Viruses </label>
	<div class="collapsible-content">
		<div class="content-inner">

			<p>Bacteriophage</p>
		</div>
	</div>





</div>
